/* First stylesheet */
:root {
    --color-background: #1a2420;
    --color-text: #f4e4b8;
}

body {
    background-color: var(--color-background);
}

h1 {
    font-family: "Arial", sans-serif;
    color: var(--color-text);
}

*, *::before, *::after {
    box-sizing: border-box;
}